{% extends 'msa/base_public.html' %}
{% block content %}
<h1 class="text-xl mb-4">{{ t.name }}</h1>
<div class="flex space-x-4 mb-4">
  <a hx-get="{% url 'msa_public:registration' slug=t.slug %}" hx-target="#tab-content" class="text-blue-600">Registration</a>
  <a hx-get="{% url 'msa_public:qualification' slug=t.slug %}" hx-target="#tab-content" class="text-blue-600">Qualification</a>
  <a hx-get="{% url 'msa_public:main_draw' slug=t.slug %}" hx-target="#tab-content" class="text-blue-600">Main Draw</a>
  <a hx-get="{% url 'msa_public:schedule' slug=t.slug %}" hx-target="#tab-content" class="text-blue-600">Schedule</a>
  <a hx-get="{% url 'msa_public:results' slug=t.slug %}" hx-target="#tab-content" class="text-blue-600">Results</a>
</div>
<div id="tab-content" hx-get="{% url 'msa_public:registration' slug=t.slug %}" hx-trigger="load"></div>
{% endblock %}
