{% extends "wiki/base.html" %}

{% block wiki_content %}
<h1 class="text-xl mb-4">{% if object %}Edit{% else %}Create{% endif %} data series</h1>
<form method="post" class="space-y-4">
  {% csrf_token %}
  <div class="space-y-2">
    {{ form.as_p }}
  </div>
  {{ points_formset.management_form }}
  <table class="table-auto w-full">
    <thead>
      <tr><th class="px-2">Key</th><th class="px-2">Value</th><th class="px-2">Note</th><th class="px-2">Delete</th></tr>
    </thead>
    <tbody>
    {% for form in points_formset.forms %}
    <tr class="odd:bg-gray-100">
      <td class="px-2">{{ form.key }}</td>
      <td class="px-2">{{ form.value }}</td>
      <td class="px-2">{{ form.note }}</td>
      <td class="px-2">{{ form.DELETE }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <button type="submit" class="text-red-600 hover:underline">Save</button>
</form>
{% endblock %}

