{% extends 'msa/base.html' %}
{% block msa_content %}
<div class="mb-4">
  <h1 class="text-3xl font-semibold">{{ tournament.name }}</h1>
  <p>{{ tournament.start_date }} - {{ tournament.end_date }} {{ tournament.venue|default:tournament.city }}</p>
  <nav class="mt-4 border-b border-gray-200">
    <ul class="flex space-x-4">
      <li><a href="{% url 'msa:tournament-detail' tournament.slug %}" class="py-2 px-1 block{% if request.resolver_match.url_name == 'tournament-detail' %} border-b-2 border-blue-500{% endif %}">Overview</a></li>
      <li><a href="{% url 'msa:tournament-players' tournament.slug %}" class="py-2 px-1 block{% if request.resolver_match.url_name == 'tournament-players' %} border-b-2 border-blue-500{% endif %}">Players</a></li>
      <li><a href="{% url 'msa:tournament-draw' tournament.slug %}" class="py-2 px-1 block{% if request.resolver_match.url_name == 'tournament-draw' %} border-b-2 border-blue-500{% endif %}">Draw</a></li>
      <li><a href="{% url 'msa:tournament-results' tournament.slug %}" class="py-2 px-1 block{% if request.resolver_match.url_name == 'tournament-results' %} border-b-2 border-blue-500{% endif %}">Results</a></li>
    </ul>
  </nav>
</div>
<div>
  {% block tournament_content %}{% endblock %}
</div>
{% endblock %}
