{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'fax_calendar/datepicker.css' %}">
    <script type="module" src="{% static 'fax_calendar/core.js' %}"></script>
    <script type="module" src="{% static 'fax_calendar/astro.js' %}"></script>
    <script type="module" src="{% static 'fax_calendar/datepicker.js' %}"></script>
    <script>window.WOORLD_TODAY={{ WOORLD_TODAY|default:"null"|safe }};</script>
{% endblock %}

{% block userlinks %}
    {{ block.super }}
    <form id="woorld-date-form" action="{% url 'fax_calendar:set_woorld_date' %}" method="post">
        {% csrf_token %}
        <label for="woorld-date-input">Aktuální datum Woorldu:</label>
        <input id="woorld-date-input" type="text" name="date" value="{{ WOORLD_CURRENT_DATE }}" placeholder="DD-MM-YYYY" class="woorld-date-input">
    </form>
{% endblock %}
