{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'fax_calendar/widget.css' %}">
    <script src="{% static 'fax_calendar/widget.js' %}"></script>
{% endblock %}

{% block userlinks %}
    {{ block.super }}
    <form id="woorld-date-form" action="{% url 'fax_calendar:set_woorld_date' %}" method="post">
        {% csrf_token %}
        <input type="text" name="date" value="{{ WOORLD_CURRENT_DATE }}" placeholder="DD/MM/YYYY" class="woorld-date-input">
    </form>
{% endblock %}
